* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url(./img/bg-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: inherit;
}
p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
svg {
  fill: grey;
  vertical-align: middle;
}
nav {
  width: 100%;
  padding: 1.1rem 4rem;
  border-bottom: 4px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.home-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.container {
  max-width: 1280px;
  margin: 0.5rem auto;
  padding: 2rem;
  height: auto;
  display: absolute;
}

#cards {
  width: 90%;
  display: flex;
  gap: 3.5rem 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 13px 15px 37px -5px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 13px 15px 37px -5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 13px 15px 37px -5px rgba(0, 0, 0, 0.69);
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.item-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.3rem;
}
.card img {
  width: 270px;
  border-radius: 10px;
}
.card .time-desc {
  display: inline-block;
}

.recipe {
  font-weight: 600;
  font-size: 1rem;
}
footer {
  margin-top: 3rem;
  width: 100%;
  height: 5rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
